<table class="w-full table-auto border border-collapse border-gray-300">
  <thead>
    <tr>
      @for (col of this.model.getListableAttributes(); track col.name) {
        <th class="border p-2 text-left">
          {{ col.label }}
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @if (this.model.items.length > 0) {
      @for (row of this.model.items; track row[model.primaryKey]) {
        <tr>
          @for (col of this.model.getListableAttributes(); track col.name) {
            <td class="border p-2">
              {{ row[col.name] }}
            </td>
          }
        </tr>
      }
    } @else if (model.isLoading) {
      <tr>
        <td
          [attr.colspan]="this.model.getListableAttributes().length"
          class="text-center p-4"
        >
          Cargando...
        </td>
      </tr>
    } @else {
      <tr>
        <td
          [attr.colspan]="this.model.getListableAttributes().length"
          class="text-center p-4"
        >
          No hay datos disponibles.
        </td>
      </tr>
    }
  </tbody>
</table>
